* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

/* 캔버스*/
canvas {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: crosshair;
}

/* 툴모음 */
.tools {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* 툴 색상 버튼 */
.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid white;
    align-self: center;
}

/* 되돌리기, 지우기, 저장 버튼 */
.tools .button {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0 6px;
}

/* 컬러피커 */
.color-picker {
    align-self: center;
    margin: 0 10px;
    height: 50px;
}

/* 펜크기 */
.pen-range {
    align-self: center;
    margin: 0 10px;
}